<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index">
      <img src="/assets/img/AskingForAFriend_Nav.png" width="175" height="75">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <p class="navbar-item" id="welcome-user">
        <strong>Welcome &nbsp;<span class="member-name"></span></strong>
      </p>
    </div>
     <div class="navbar-end">
      <div class="navbar-item">
        <a class="navlink" href="/questions"><span><i class="fas fa-home"></i></span> Home</a>
      </div>
      <div class="navbar-item">
        <a class="button logout-btn is-small" href="/logout"><strong>Logout</strong></a>
      </div>
    </div>
  </div>
</nav>
<!--Navbar End-->