.card-content,
.form-header,
.panel-heading {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 2rem;
}

.panel-block {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.panel-tabs {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

/* section around main questions.handlebars */
#questions-main {
    background-color: rgb(252, 236, 222);
    padding: 3rem 3.5rem;
}

/* styles main question/answer body in questions.handlebars */
#question-box {
    padding: 2rem;
}

#answers-heading,
#answer-form-heading,
#question-heading {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 10px;
}

#display-question-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

#welcome-user {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

#display-question-content {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#display-createdAt {
    font-family: 'Quicksand', sans-serif;
}

#question-details {
    margin-top: .75em;
}

#answer-list {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-left: 1em;
}

#answer-list > li {
    padding-bottom: .5rem;
}

@media screen and (max-width: 767px) {

    .card-content,
    .form-header,
    .panel-heading {
        font-size: 1.5rem;
    }

    #questions-main {
        padding: 2rem 1.5rem;
    }

    .panel-block {
        font-size: .85rem;
    }

    #display-question-title {
        font-size: 1rem;
    }

    #display-question-content {
        font-size: .75rem;
        padding-top: .25rem;
    }

    #display-username {
        margin-bottom: 0;
    }

    #answer-list {
        font-size: .75rem;
    }

    #answers-heading,
    #answer-form-heading,
    #question-heading {
        font-family: 'Patrick Hand', sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        padding-bottom: 10px;
    }
}