body {
    background-color: rgb(252, 236, 222);
    height: 100vh;
}

.logo {
    height: 300px;
    width: 300px;
}

.body-container {
    background-color: rgb(252, 236, 222);
    padding-top: 10rem;
}

.tagline {
    padding: 1rem 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

#login-link,
#signup-link {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#login-link:hover,
#signup-link:hover {
    font-weight: 600;
}

#alert {
    color: red;
    font-family: 'Didact Gothic', sans-serif;
}

@media screen and (max-width: 767px) {
    .body-container {
        padding-top: 5vh;
    }

    .logo {
        height: 250px;
        width: 250px;
        margin-top: .75rem;
    }

    #login-signup-section {
        padding: 1.5rem 1rem;
    }

    .card-content,
    .form-header,
    .panel-heading {
        font-size: 1.5rem;
    }
    
    #tagline-div {
        display: none;
    }
    
    #login-link,
    #signup-link {
        font-size: .75rem;
    }

    .card-column {
        margin: 0 auto;
    }
}

@media screen and (width: 768px) {
    .body-container {
        padding-top: 7rem;
    }

    .logo {
        height: 250px;
        width: 250px;
    }

    #login-signup-section {
        padding: 1.5rem 1rem;
    }

    .card-column {
        margin: 0 auto;
    }

    .card-content {
        font-size: 1.75rem;
    }
    
    #login-link,
    #signup-link {
        font-size: 1rem;
    }
}

@media screen and (width: 1024px) {
    .body-container {
        padding-top: 10rem;
    }

    .logo {
        height: 375px;
        width: 375px;
    }
    
    .card-content {
        font-size: 2rem;
        width: 25vw;
    }
    
    .tagline {
        font-size: 2rem;
    }
    
    #login-link,
    #signup-link {
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 2560px) {
    .body-container {
        padding-top: 15rem;
    }
}